<!DOCTYPE html>
<html>
<head>
    <title><%= viewName %></title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/e63fc7cc5e.js"></script>
</head>
<body class="<%= viewName %>">
    <!-- <h1><%= viewName %></h1> -->
    <nav class="nav-main">
        <a class="nav-main-link" href="/trucks">
            <i class="fas fa-home fa-2x"></i>
            <p class="nav-main-linktext">All food trucks</p>
        </a>
        <a class="nav-main-link" href="/trucks/new">
            <i class="fas fa-plus fa-2x"></i>
            <p class="nav-main-linktext">Add a new food truck</p>
        </a>
        <a class="nav-main-link" href="/users/profile/trucks/favorites">
            <i class="fas fa-heart fa-2x"></i>
            <p class="nav-main-linktext">Favorite food trucks</p>
        </a>
<% if (!user) { %>
        <a class="nav-main-link" href="/users/new">
            <i class="fas fa-user-plus fa-2x"></i>
            <p class="nav-main-linktext">Create an account</p>
        </a>
        <a class="nav-main-link" href="/users/login">
            <i class="fas fa-sign-in-alt fa-2x"></i>
            <p class="nav-main-linktext">Log in</p>
        </a>
<% } else { %>
        <a class="nav-main-link" href="/users/profile">
            <i class="fas fa-user fa-2x"></i>
            <p class="nav-main-linktext">My account</p>
        </a>
        <a class="nav-main-link" href="/logout">
            <i class="fas fa-sign-out-alt fa-2x"></i>
            <p class="nav-main-linktext">Log Out</p>
        </a>
<% } %>
    </nav>