<%- include('./partials/headerhtml') %>
<body>
  <h1><%= viewName %></h1>
  <% if (!user) { %>
    <a href="/auth/google">Login with Google</a>
    <% } else { %>
    <a href="/logout">Log Out</a>
    <p>Hello <%= user.name %>!</p>
<% } %>
  <a href="/profile">Go to Profile Page</a>
<form action="/" method="POST">
    <input type="text" name="applicant" placeholder="Food Truck Name">
    <input type="text" name="fooditems" placeholder="Foods Offered">
    <input type="submit" value="Add Food Truck">
</form>





  <a href="/">Return to Food Truck Index</a>
</body>
<%- include('./partials/footerhtml') %>