* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, "Gill Sans", Avenir, "Tsukushi A Round Gothic", Seravek, sans-serif;
  font-size: 32px;
  /* border: 1px solid; */
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(229, 229, 229, 1);
}
a {
  color: rgba(0, 183, 255, 1);
}
ul {
  list-style-type: none;
}
input {
  background-color: inherit;
}
select {
  background-color: inherit;
}

.nav-main {
  display: flex;
  width: 100%;
  height: 190px;
}
.nav-main-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  width: 20%;
  border-radius: 0.2rem;
}
.nav-main-link:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.nav-main-link>* {
  margin: 20px 0 0 0;
}
.nav-main-linktext {
  text-align: center;
  max-height: 77px;
  overflow: hidden;
}





.trucks-index .truck-cards-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.truck-cards-container .truck-card-container {
  margin: 1rem 0.2rem;
  width: 30%;
}

.truck-card-container {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
}
.truck-card-container * {
  font-size: 0.5rem;
  /* border: 1px solid; */
  position: relative;
}
.truck-card-header {
  background-color: rgba(245, 245, 245, 1);
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  border-radius: 0.1rem 0.1rem 0 0;
  height: 2rem;
  width: 100%;
}
.truck-card-headerText {
  text-decoration: underline;
  white-space: pre;
  overflow: scroll;
  color: rgba(0, 0, 0, 1);
}
.truck-card-header:hover .truck-card-headerText {
  font-weight: bold;
}

.truck-card-starsCntnr {
  padding: 0 0.6rem;
  margin: 0.3rem 0;
}
.truck-card-revcontainer {
  position: relative;
  height: 5.6em;
  padding: 0 0.6rem;
  margin: 0.3rem 0 0.6rem;
}
.truck-card-revtext {
  margin: 0;
  position: relative;
  height: 5.6em;
  overflow: hidden;
  line-height: 1.5em;
  word-wrap: break-word;
}
.truck-card-revtext:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 40%);
}
.truck-card-showlink {
  position: absolute;
  bottom: 0;
  right: 0.6rem;
  text-decoration: none;
  color: rgba(0, 183, 255, 1);
}
.truck-card-showlink:hover {
  text-decoration: underline;
}



.truck-card-footer {
  display: flex;
  width: 100%;
  align-items: center;
}
.truck-card-addRevCntnr {
  width: 50%;
  padding: 0 0 0.6rem 0.6rem;
}
.truck-card-addRevLink {
  font-size: 0.4rem;
  text-decoration: none;
  color: rgba(0, 183, 255, 1);
  display: flex;
  align-items: center;
}
.truck-card-addRevLink:hover .truck-card-addRevText {
  text-decoration: underline;
}
.truck-card-addRevIcon {
  color: rgba(0, 0, 0, 1);
  font-size: 0.4rem;
}
.truck-card-addRevText {
  font-size: 0.4rem;
  margin: 0 0 0 0.6em;
}



.truck-card-favsCntnr {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.6rem 0.6rem 0;
}
.truck-card-favsBtn {
  font-size: 0.4rem;
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}
.truck-card-favsBtn:hover .truck-card-favsText {
  text-decoration: underline;
}
.truck-card-favsHeartsCntnr {
  position: relative;
  font-size: 0.4rem;
  display: flex;
  align-items: center;
}
.truck-card-favsHeart {
  color: rgba(219, 86, 91, 1);	
  font-size: 0.4rem;
}
.truck-card-favsText {
  font-size: 0.4rem;
  margin: 0 0 0 0.6em;
  color: rgba(0, 183, 255, 1);
  text-align: left;
}
.hoverheart {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.truck-card-favsBtn:hover .hoverheart {
  opacity: 1;
  transition: 0.3s ease;
}












.trucks-index .logocontainer {
  margin: 2vh 0;
  height: 132px;
  overflow: auto;
}
.trucks-index .logo {
  margin: 0 2vw;
}

.trucks-new .form {
  display: flex;
  flex-direction: column;
}

