* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, "Gill Sans", Avenir, "Tsukushi A Round Gothic", Seravek, sans-serif;
  font-size: 32px;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}
a {
  color: rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
}
a:hover {
  color: rgba(163, 0, 0, 1);
  text-decoration: none;
}
ul {
  list-style-type: none;
}
input {
  background-color: inherit;
}
select {
  background-color: inherit;
}

.nav-main {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.1); 
}
.nav-main-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  width: 20%;
  transition: all 0.3s ease;
}
.nav-main-link:hover {
  color: rgba(163, 0, 0, 1);
}
.nav-main-link>* {
  margin: 10px 0 0 0;
}
.nav-main-linktext {
  text-align: center;
  font-size: calc(0.15rem + 1vw);
}

.truck-cards-container {
  margin: 5vh 0 0;
  display: flex;
  justify-content: center;
  width: 95%;
  flex-wrap: wrap;
}
.truck-card-container {
  margin: 1rem 0.5rem;
  width: 208px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(163, 0, 0, 1);
  position: relative;
  opacity: 0.4;
  transition: all 0.3s ease;
}
.truck-card-container:hover {
  opacity: 1;
}
.truck-card-container * {
  font-size: 0.5rem;
}
.truck-card-delTruckBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: red;
  font-size: 1.5em;
  border-radius: 0.25rem;
  border: none;
  color: rgba(245, 245, 245, 1);
  padding: 0.1em 0.3em;
}
.truck-card-header {
  background-color: rgba(163, 0, 0, 1);
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.truck-card-header:hover {
  background-color: rgba(255, 255, 255, 1);
}
.truck-card-headerLink {
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
  border: 5px double transparent;
  padding: 0.4rem 0.4rem 0 0.4rem;
  height: 2rem;
  flex-grow: 1;
  overflow: scroll;
  transition: all 0.3s ease;
}
.truck-card-headerLink:hover {
  text-decoration: underline;
  color: rgba(163, 0, 0, 1);
  border: 4px double rgba(163, 0, 0, 1);
}

.truck-card-starsCntnr {
  padding: 0 0.6rem;
  margin: 0.3rem 0;
  display: flex;
}
.truck-card-editTruckLink{
  margin-left: auto;
}

.truck-card-revCntnr {
  position: relative;
  height: 5.6em;
  padding: 0 0.6rem;
  margin: 0.3rem 0 0.6rem;
}
.truck-card-revText {
  margin: 0;
  position: relative;
  height: 5.6em;
  overflow: hidden;
  line-height: 1.5em;
  word-wrap: break-word;
}
.truck-card-revText:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 40%);
}
.truck-card-showlink {
  position: absolute;
  bottom: 0;
  right: 0.6rem;
  text-decoration: none;
}

.truck-card-footer {
  display: flex;
  width: 100%;
  align-items: center;
}
.truck-card-addRevCntnr {
  width: 50%;
}
.truck-card-addRevLink {
  width: 100%;
  padding: 0 0 0.6rem 0.6rem;
  font-size: 0.4rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.truck-card-addRevIcon {
  color: rgba(0, 0, 0, 1);
  font-size: 0.4rem;
  transition: all 0.3s ease;
}
.truck-card-addRevCntnr:hover .truck-card-addRevIcon {
  color: rgba(163, 0, 0, 1);
}
.truck-card-addRevText {
  font-size: 0.4rem;
  margin: 0 0 0 0.6em;
}

.truck-card-favsCntnr {
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.truck-card-favsBtn {
  cursor: pointer;
  width: 100%;
  font-size: 0.4rem;
  display: flex;
  align-items: center;
  border: none;
  padding: 0 0.6rem 0.6rem 0;
  background-color: rgba(255, 255, 255, 1);
}
.truck-card-favsHeartsCntnr {
  cursor: pointer;
  position: relative;
  font-size: 0.4rem;
  display: flex;
  align-items: center;
}
.truck-card-favsHeart {
  color: rgba(219, 86, 91, 1);	
  font-size: 0.4rem;
}
.truck-card-favsText {
  cursor: pointer;
  font-size: 0.4rem;
  margin: 0 0 0 0.6em;
  text-align: left;
  transition: all 0.3s ease;
}
.truck-card-favsCntnr:hover .truck-card-favsText {
  color: rgba(163, 0, 0, 1);;
}
.hoverheart {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
.truck-card-favsCntnr:hover .hoverheart {
  opacity: 1;
}
.trucks-index .vid1 {
  width: 100vw;
}
.trucks-index .app-title {
  margin: 5vh 0 0;
  font-family: "Gill Sans";
  font-size: 2rem;
}
.trucks-index .app-title-SF {
  font-family: "Gill Sans";
  font-size: 2rem;
  font-weight: bold;
  color: rgba(163, 0, 0, 1);
}
.trucks-index .app-subtitle {
  text-align: center;
}

.trucks-new .page-header {
  margin: 1.5rem 0;
}
.trucks-new .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trucks-new .input {
  margin: 0 0 1rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 5%;
  border-radius: 0.25em;
  font-size: 0.8rem;
}
.trucks-new .submit-btn {
  background-color: rgb(0, 156, 0);
  color: rgba(255, 255, 255, 1);
  padding: 8% 4%;
  border-radius: 0.5em;
  width: 50%;
  font-size: 0.8rem;
}

.trucks-show .reviews {
  padding: 0 5%;
}

.reviews-new .nav-main ~ * {
  margin: 0.75rem 0;
}
.reviews-new .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-new .input {
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 1em;
  border-radius: 0.25em;
  font-size: 0.8rem;
}
.reviews-new .submit-btn {
  background-color: rgb(0, 156, 0);
  color: rgba(255, 255, 255, 1);
  padding: 0.7rem 0.3rem;
  border-radius: 0.5em;
  width: 8rem;
  font-size: 0.8rem;
}

.reviews-edit .nav-main ~ * {
  margin: 0.75rem 0;
}
.reviews-edit .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-edit .input {
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 1em;
  border-radius: 0.25em;
  font-size: 0.8rem;
}
.reviews-edit .submit-btn {
  background-color: rgb(0, 156, 0);
  color: rgba(255, 255, 255, 1);
  padding: 0.7rem 0.3rem;
  border-radius: 0.5em;
  width: 8rem;
  font-size: 0.8rem;
}

.users-show .page-header {
  margin: 1.5rem 0 0;
}
.users-show .page-header ~ * {
  margin: 1.5rem 0 0;
}
.users-show .email ~ * {
  visibility: hidden;
}

.nav-submitted {
  display: flex;
  width: 100%;
  height: 95px;
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-submitted>* {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  border-radius: 0.1rem;
}
.nav-submitted-truckslink:hover {
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.nav-submitted-reviewslink:hover {
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.users-showtrucks .page-header {
  margin: 1.5rem 0;
}

.users-showreviews .page-header {
  margin: 1.5rem 0;
}
.users-showreviews .reviews-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}
.users-showreviews .review-container {
  margin: 1rem 0.2rem;
  width: 30%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  position: relative;
  opacity: 0.6;
}
.users-showreviews .review-container:hover {
  opacity: 1;
}
.users-showreviews .review-container * {
  font-size: 0.5rem;
}
.users-showreviews .del-review-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: red;
  font-size: 1.5em;
  border-radius: 0.25rem;
  border: none;
  color: rgba(245, 245, 245, 1);
  padding: 0.1em 0.3em;
}
.users-showreviews .review-headerCntnr {
  background-color: rgba(245, 245, 245, 1);
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  border-radius: 0.3rem 0.3rem 0 0;
  height: 2rem;
  width: 100%;
}
.users-showreviews .review-headerText {
  text-decoration: underline;
  white-space: pre;
  overflow: scroll;
  color: rgba(0, 0, 0, 1);
}
.users-showreviews .review-starsCntnr {
  padding: 0 0.6rem;
  margin: 0.3rem 0;
  display: flex;
}
.users-showreviews .review-revCntnr {
  position: relative;
  height: 5.6em;
  padding: 0 0.6rem;
  margin: 0.3rem 0 0.6rem;
}
.users-showreviews .review-revText {
  margin: 0;
  position: relative;
  line-height: 1.5em;
  word-wrap: break-word;
}
.users-showreviews .review-editCntnr {
  display: flex;
  width: 100%;
  align-items: center;
}
.users-showreviews .review-editLink {
  background-color: rgb(0, 156, 0);
  color: rgba(255, 255, 255, 1);
  padding: 0.7rem 0.3rem;
  border-radius: 0 0 0.3rem 0.3rem;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  text-decoration: none;
}
.favtrucks-index .page-header {
  margin: 1.5rem 0 0.5rem;
}
.favtrucks-index .must-log-in {
  margin: 1.0rem 0 1.5rem
}