<%- include('../partials/headerhtml') %>
<h1>My Favorites</h1>
<% if (!user) { %>
<p>You must log in before seeing your favorite food trucks.</p>
<% } else { %>
<!-- NEED TO EDIT THIS CODE, THIS IS COPY PASTED FROM TRUCKS INDEX -->

<!-- NEED TO EDIT THIS CODE, THIS IS COPY PASTED FROM TRUCKS INDEX -->
<p>You haven't saved any of your favorite food trucks yet!</p>
<% } %>
<%- include('../partials/footerhtml') %>