<%- include('../partials/headerhtml') %>
<h1 class="page-header">Favorites</h1>
<% if (!user) { %>
<p class="must-log-in">You must log in before seeing or saving your favorite food trucks.</p>
<% } else { %>
    <%- include('../partials/truckcards') %>
    <% if (!trucks.length) { %>
<p>You haven't saved any of your favorite food trucks yet!</p>
    <% } %>
<% } %>
<%- include('../partials/footerhtml') %>