<%- include('../partials/headerhtml') %>
<h1>Favorites</h1>
<% if (!user) { %>
<p>You must log in before seeing or saving your favorite food trucks.</p>
<% } else { %>
    <%- include('../partials/truckcards') %>
    <% if (!trucks.length) { %>
<p>You haven't saved any of your favorite food trucks yet!</p>
    <% } %>
<% } %>
<%- include('../partials/footerhtml') %>