<%- include('../partials/headerhtml') %>
<div>
    <h3>Log In with Created Account</h3>
    <form action="/users/login/submit" method="GET">
        <label for="email">Email: </label>
        <input id="email" type="text" name="email">
        <label for="pw">Password: </label>
        <input id="pw" type="password" name="password">
        <!-- <input type="submit" value="Log In"> -->
        <button disabled="disabled">Log in</button>
    </form>
</div>
<div>
    <a href="/auth/google">Log In with Google</a>
</div>
<%- include('../partials/footerhtml') %>