<%- include('../partials/headerhtml') %>
<% if (!user) { %>
<p>Not Logged In</p>
<% } else { %>
<nav>
    <div>
        <a href="/users/profile/trucks/submitted">Submitted Trucks</a>
    </div>
    <div>
        <a href="/users/profile/reviews/submitted">Submitted Reviews</a>
    </div>
</nav>
<h1>Your truckSFinder reviews</h1>
    <% if (!reviews.length) { %>
<p>You have not submitted any food truck reviews yet!</p>
    <% } else { %>
        <% reviews.forEach(review => { %>
<p>For <%= review.truck.applicant %>:</p>
<div>
            <% for (let i = 0; i !== review.rating; i++) { %>
    <span>&#9733</span>
            <% } %>
</div>
<p><%= review.content %></p>
        <% }); %>
    <% } %>
<% } %>
<%- include('../partials/footerhtml') %>