<%- include('../partials/headerhtml') %>
<% if (!user) { %>
<p>Not Logged In</p>
<% } else { %>
<nav>
    <div>
        <a href="/users/profile/trucks/submitted">Submitted Trucks</a>
    </div>
    <div>
        <a href="/users/profile/reviews/submitted">Submitted Reviews</a>
    </div>
</nav>
<h1>Your truckSFinder account details</h1>
<p>Hello <%= user.name %>!</p>
<p>Your email address is: <%= user.email %></p>
    <% if (user.email === 'gmerrill03@gmail.com') { %>
<a href="/users/consolelogalldata">DEV: console.log All Data</a>
<a href="/users/clearuserdata">DEV: Clear all trucks and reviews for this user</a>
<p>DEV: Clear and seed fresh data</p>
<a href="/users/bigseed">Big Seed</a>
<a href="/users/littleseed">Little Seed</a>
    <% } %>
<% } %>
<%- include('../partials/footerhtml') %>