<%- include('../partials/headerhtml') %>
<% if (!user) { %>
<p>Not Logged In</p>
<% } else { %>
<nav>
    <div>
        <a href="/users/profile/trucks/submitted">Submitted Trucks</a>
    </div>
    <div>
        <a href="/users/profile/reviews/submitted">Submitted Reviews</a>
    </div>
</nav>
<h1>Your truckSFinder account details</h1>
<p>Hello <%= user.name %>!</p>
<p>Your email address is: <%= user.email %></p>
<% } %>
<a href="/users/consolelogalldata">DEV: console.log All Data</a>
<% if (user) { %>
<a href="/users/clearuserdata">DEV: Clear all trucks and reviews for this user</a>
<a href="/users/seeddata">DEV: Clear and seed fresh data</a>
<% } %>
<%- include('../partials/footerhtml') %>