<%- include('../partials/headerhtml') %>
<% if (!user) { %>
<h1 class="page-header">Your truckSFinder account details</h1>
<p class="must-log-in">You must log in to view your account.</p>
<% } else { %>
<nav class="nav-submitted">
    <a class="nav-submitted-truckslink" href="/users/profile/trucks/submitted">Submitted Trucks</a>
    <a class="nav-submitted-reviewslink" href="/users/profile/reviews/submitted">Submitted Reviews</a>
</nav>
<h1 class="page-header">Your truckSFinder account details</h1>
<p>Hello <%= user.name %>!</p>
<p class="email">Your email address is: <%= user.email %></p>
    <% if (user.email === 'gmerrill03@gmail.com') { %>
<a href="/users/consolelogalldata">DEV: console.log All Data</a>
<a href="/users/clearuserdata">DEV: Clear all trucks and reviews for this user</a>
<p>Clear and seed fresh data:</p>
<a href="/users/bigseed">DEV: Big Seed</a>
<a href="/users/littleseed">DEV: Little Seed</a>
    <% } %>
<% } %>
<%- include('../partials/footerhtml') %>