<%- include('../partials/headerhtml') %>
<div class="logocontainer">
  <i class="logo fas fa-hamburger fa-4x">.</i>
  <i class="logo fas fa-truck fa-4x">.</i>
  <i class="logo fas fa-smile fa-4x">!</i>
</div>
<h1 class="app-title">truck<span class="app-title-SF">SF</span>inder</h1>
<h3 class="app-subtitle">Find the best food trucks in San Francisco.</h3>
<%- include('../partials/truckcards') %>
<%- include('../partials/footerhtml') %>