<%- include('../partials/headerhtml') %>
<h1 class="app-title">truck<span class="app-title-SF">SF</span>inder</h1>
<h3 class="app-subtitle">Find the best food trucks in San Francisco.</h3>
<%- include('../partials/truckcards') %>
<%- include('../partials/footerhtml') %>